<h1>Editing awkward pause</h1>

<%= render "form", awkward_pause: @awkward_pause %>

<br>

<div>
  <%= link_to "Show this awkward pause", @awkward_pause %> |
  <%= link_to "Back to awkward pauses", awkward_pauses_path %>
</div>
